/* -----------------
      Palette

colore 1 = #4DA0FE
colore 2 = #61bfe4
colore 3 = #FBFC06
colore 4 = #21A8E7
colore 5 = #B1E5F2
colore 6 = #7C7C7C 
----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*-------- Header -----------*/
body {
    width: 90%;
}

header {
    height: 100px;
    background-color: #4DA0FE;
    background-image: url(/img/pattern.png);
    background-size: 30%;
    margin-left: -110px;


}

.top_space {
    height: 40px;
}

.top_logo {
    color: white;
    margin-left: -140px;
    font-size: 1rem;
    text-shadow: 5px 5px 5px 5px black;


}

.bottom_logo {
    color: white;
    font-size: 2.5rem;
    display: flex;
    margin-bottom: 30px;
    margin-left: 115px;
}

/*---------------- Main -----------------*/

.title {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 5px;
}

.credits {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    color: #7C7C7C;
}

.special {
    margin-left: 5px;
    color: #61bfe4;

}

.date {
    margin-left: 5px;
    color: #7C7C7C;
    font-size: 0.8rem;
}

.left-img {
    margin-left: 5px;
    height: 350px;
}

.right-img {
    height: 350px;
}